<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <queries><package android:name="com.google.android.apps.healthdata" /></queries>
    <application>
        <activity android:name="com.baryonyx.health.HealthPermissionActivity" android:exported="false" android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity android:name="com.baryonyx.health.HealthRationaleActivity" android:exported="true" android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter><action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" /></intent-filter>
        </activity>
        <activity-alias android:name="com.baryonyx.health.ViewPermissionUsageActivity" android:exported="true" android:targetActivity="com.baryonyx.health.HealthRationaleActivity" android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
